.header_pfunct {
    text-align: center;
}

.header_pfunct:hover {
    font-style: oblique;
    cursor: default;
}

.pfunct {
    font-family: 'Lato', sans-serif;
    /*text-align: left;
    padding: 20px 5px;
    margin: 15px;
    display: flex;
    justify-content: space-around;*/
}

.list_img {
    background: url('../images/cloud-flat.png)') no-repeat;
    background-position: center;
    max-height: 50px;
}

#list_logo {
    width: 30%;
    background: url('../images/') no-repeat;
    background-position: center;
}

.pfunct .col-6:nth-of-type(2n) {
    display: flex;
    justify-content: flex-end;
}

.pfunct .col-6 {
    padding-bottom: 0;
    padding-top: 0;
}

.list_fct {
    align-items: center;
    position: relative;
    padding: 15px 0;
}

.overlay_list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.list_fct:hover .overlay_list {
    opacity: 1;
    cursor: default;
}

.list_text {
    font-family: 'Lato', sans-serif;
    color: #1175d8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
