.sct2 {
    margin-top: -60px;
    padding: 300px 0;
    background: url('../images/functionality__background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-clip-path: polygon(0 35%, 100% 15%, 100% 65%, 0 86%);
    clip-path: polygon(0 35%, 100% 15%, 100% 65%, 0 86%);
}

.list_fct {
    text-align: center;
}

.list_fct span {
    display: block;
    color: #fff;
    margin-bottom: 20px;
    font-size: 70px;
}

.list_text {
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    line-height: 22px;
}