
.sct1 {
    padding-top: 60px;
}

.head--wisely {
    color: #e91e63;
;
}

.sct1__short-dscr--head {
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
}

.sct1__short-dscr--par {
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

.sct1__short-dscr--par span {
    font-weight: 500;
}

.sct1__short-dscr--list {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
}

.short-dscr__el {
    margin: 40px 0px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.sct1__short-dscr--list .glyphicon{
    display: inline;
    padding-right: 15px;
    float: left;
    font-size: 40px;
    line-height: 30px;
    color: #828282;
}

.sct1__short-dscr--list p {
    font-size: 16px;
    font-weight: 400;
}

.screens {
    margin-top: -45px;
}

.contact {
    text-align: center;
    letter-spacing: 2px;
}

.btn__contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn__contact a {
    display: block;
    width: 60%;
    margin: auto;
}

.style {
    background-color: #F79462;
}

@media screen and (min-width: 400px) {
    .btn__contact a {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    .bth__contact a {
        width: 40%;
    }
}

@media screen and (min-width: 600px) {
    .btn__contact a {
        width: 30%;
    }
    .contact {
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 768px) {
    .btn__contact a {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .btn__contact a {
        width: 20%;
    }
    .btn__contact {
        padding-bottom: 0;
    }

}