@media screen and (max-height: 768px) {

    .main-slogan__background {
        top: 80px;
    }

    .main-slogan__text1 {
        margin: 40px 0 0 0;
    }

}

@media screen and (max-height: 700px) {

    .main-slogan__background {
        top: 80px;
    }

    .main-slogan__text1 {
        margin: 40px 0 0 0;
    }

    .header__app {
        left: calc(50% - 300px);
    }

    .app__image {
        width: 600px
    }

}

@media screen and (max-width: 1366px) {

    .main-slogan__background {
        top: 60px;
        left: 150px;
    }

    .main-slogan__text1 {
        margin: 10px 0 0 0;
    }

    .main-slogan {
        -webkit-transform: scale(0.75, 0.75);
        transform: scale(0.75, 0.75);
    }

    .main-slogan__text1 {
        margin: 10px 0 0 0;
    }

    .header__app {
        left: calc(50% - 300px);
    }

    .app__image {
        width: 600px
    }

    .screens {
        margin-top: 0;
        max-width: 100%;
    }

}

@media screen and (max-width: 1200px) {

    .header {
        height: auto;
    }

    .logo__image {
        max-width: 300px;
        margin: auto;
    }

    .navbar-nav {
        float: none;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .main-slogan {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
        padding-bottom: 100px;
    }

    .header__app {
        display: none;
    }

    .sct2 {
        margin-top: -140px;
    }

    .list_fct {
        min-height: 180px;
    }

}

@media screen and (max-width: 992px) {

    .main-slogan__background {
        top: 60px;
        left: -20px;
    }

    .main-slogan {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        margin-top: -90px;
        padding-bottom: 0;
    }

    .main-slogan__text1 {
        margin: 0;
    }

    .header__app {
        display: none;
    }

    .sct2 {
        margin-top: 0;
        clip-path: none;
        -webkit-clip-path: none;
        padding: 45px 0;
    }

    .screens {
        padding-bottom: 60px;
        max-width: 75%;
        margin: auto;
        display: block;
    }

    .sct3 {
        margin-top: 45px;
    }

    .skew {
        clip-path: none;
        -webkit-clip-path: none;
        padding-top: 45px;
    }

}

@media screen and (max-width: 768px) {

    .header__background {
        background-position: top left;
        background-size: auto;
        animation: none;
        -webkit-animation: none;
    }

    .navbar-toggle {
        margin-top: -70px;
    }

    .navbar-collapse {
        margin-bottom: 15px;
    }

    .navbar-nav {
        display: block;
        margin-top: 5px;
        background: rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    .nav > li > a.nav__link--contact:hover:hover, .nav > li > a.nav__link--contact:hover:focus {
        border-color: #fff;
        background: transparent;
    }

    .btn.nav__link--contact {
        border-color: transparent;
    }

    .main-slogan {
        margin-top: -80px;
        -webkit-transform: scale(0.7, 0.7) rotate(2deg);
        transform: scale(0.7, 0.7) rotate(2deg);
    }

    .main-slogan__background {
        display: none;
    }

    .main-slogan__text3 br {
        display: none;
    }

    .sct2 {
        padding: 45px 0;
    }

    .contact-form {
        padding: 0 15px;
    }

    .team-logo {
        height: 40px;
    }

    .ft__bottom {
        margin-top: 30px;
    }

    .ft__bottom p {
        text-align: center;
        padding-bottom: 15px;
    }

    .footer_nav {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {

    .logo__image {
        padding-top: 15px;
        -webkit-transform: translate(-30px, 0);
        transform: translate(-30px, 0);
    }

    .main-slogan {
        display: none;
    }

    .navbar {
        min-height: 0;
        margin-bottom: 0;
    }

    .navbar-toggle {
        margin-top: -60px;
    }

    .main-slogan {
        margin-top: -110px;
    }

    .main-slogan__test1 {
        padding: 5px 0px;
    }

    .main-slogan__test2 {
        padding: 5px 0px;
    }

    .main-slogan__test3 {
        padding: 5px 0px;
        font-size: 45px;
        line-height: 45px;
    }

    .sct2 {
        padding: 45px 0 30px;
    }

    #back_to_top {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    .navbar-toggle {
        margin-top: -60px;
    }

    .navbar-collapse {
        margin-bottom: 50px;
    }

    .main-slogan {
        margin-top: -180px;
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }

    .main-slogan__text3 {
        font-size: 55px
    }

    .footer_nav li {
        display: block;
        padding: 10px 15px;
    }

    .footer_nav li:last-child {
        margin-bottom: 20px;
        padding-right: 15px;
    }

}

@media screen and (max-width: 320px) {

    .main-slogan__test3 {
        padding: 5px 0px;
        font-size: 40px;
        line-height: 40px;
    }

}
