@import url(grid_style.css);


html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.hdr {
    width: 100%;
    height: 300px;

}

.mn {
    margin: 0 auto;
    width: 1000px;
   /* height: 1500px;*/
}

.sct1 {
    width: 100%;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
}

.desc_hd {
    margin: 5px auto;
    text-align: center;
    letter-spacing: 5px;

}

.qstn {
    border: 1px solid black;
}

.short-dscr {
    border-bottom: 1px solid black;
}

.short-dscr span {
    font-size: 25px;
}

.short-dscr__span-wise {
    color: green;
}

.short-dscr__par {
    padding: 20px;
    letter-spacing: 3px;
    line-height: 2em;
    text-align: center;
}

.short-dscr__list {
    list-style-type: none;
    font-weight: bold;
    position: relative;
    top: -30px;
}

.short-dscr__list li {
    letter-spacing: 2px;
    text-align: center;
    line-height: 30px;
    color: darkred;
}

.sct2 {
    height: 35%;
    width: 100%;

}

.sct3 {
    height: 30%;
    width: 100%;
}

.ft {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

.product_functions {
    font-family: "Lato";
    border-style: ridge;
}

.list {
    text-align: left;
    list-style-type: circle;
    padding: 20px 5px;
    border-style: none;
}
