/* BUTTONS */

.btn {
    border: 1px solid transparent;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: transparent;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.btn:hover {
    cursor: pointer;
    border-color: #92b945;
    background: #92b945;
    color: #fff;
}

.btn--rounded {
    -webkit-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
}

.btn--white {
    border-color: #fff;
    color: #fff;
}
