@media screen and (max-height: 768px) {

    .main-slogan__background {
        top: 80px;
    }

    .main-slogan__text1 {
        margin: 40px 0 0 0;
    }

}

@media screen and (max-height: 700px) {

    .main-slogan__background {
        top: 80px;
    }

    .main-slogan__text1 {
        margin: 40px 0 0 0;
    }

    .header__app {
        left: calc(50% - 300px);
    }

    .app__image {
        width: 600px
    }

}

@media screen and (max-width: 1366px) {

    .main-slogan__background {
        top: 60px;
        left: 150px;
    }

    .main-slogan__text1 {
        margin: 10px 0 0 0;
    }

    .main-slogan {
        -webkit-transform: scale(0.75, 0.75);
        transform: scale(0.75, 0.75);
    }

    .main-slogan__text1 {
        margin: 10px 0 0 0;
    }

    .header__app {
        left: calc(50% - 300px);
    }

    .app__image {
        width: 600px
    }

    .screens {
        margin-top: 0;
        max-width: 100%;
    }

}

@media screen and (max-width: 1200px) {

    .header {
        height: auto;
    }

    .logo__image {
        max-width: 250px;
        margin: auto;
    }

    .navbar {
        float: right;
    }

    .navbar-nav {
        float: none;
        display: flex;
        justify-content: center;
    }

    .main-slogan {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
        padding-bottom: 45px;
    }

    .main-slogan__background {
        top: 90px;
    }

    .header__app {
        display: none;
    }

    .sct2 {
        margin-top: -140px;
    }

    .list_fct {
        min-height: 180px;
    }

}

@media screen and (max-width: 992px) {

    .header__top {
        padding-top: 10px;
    }

    .logo__image {
        max-width: 250px;
        position: relative;
    }

    .navbar {
        float: none;
    }

    .navbar-nav {
        margin-top: 5px;
    }

    .main-slogan {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        padding-top: 200px;
        padding-bottom: 45px;
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    .main-slogan__background {
        top: 170px;
        left: -30px;
    }

    .main-slogan__text1 {
        margin: 0;
        font-size: 21px;
    }

    .main-slogan__text2 {
        font-size: 24px;
    }

    .main-slogan__text3 {
        font-size: 55px;
        line-height: 60px;
    }

    .header__app {
        display: none;
    }

    .sct2 {
        margin-top: 0;
        clip-path: none;
        -webkit-clip-path: none;
        padding: 45px 0;
    }

    .screens {
        padding-bottom: 60px;
        max-width: 75%;
        margin: auto;
        display: block;
    }

    .sct3 {
        margin-top: 45px;
    }

    .skew {
        clip-path: none;
        -webkit-clip-path: none;
        padding-top: 45px;
    }

}

@media screen and (max-width: 768px) {

    .header {
        background-size: contain;
    }

    .header__background {
        background-position: top left;
        animation: none;
        -webkit-animation: none;
    }

    .navbar {
        margin-bottom: 0;
    }

    .navbar-toggle {
        margin-top: -70px;
    }

    .navbar-collapse {
        margin-bottom: 15px;
    }

    .navbar-nav {
        display: block;
        margin-top: 5px;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    .nav > li > a.nav__link--contact:hover:hover, .nav > li > a.nav__link--contact:hover:focus {
        border-color: #fff;
        background: transparent;
    }

    .btn.nav__link--contact {
        border-color: transparent;
    }

    .main-slogan__background {
        display: none;
    }

    .main-slogan__text3 br {
        display: none;
    }

    .sct2 {
        padding: 45px 0;
    }

    .contact-form {
        padding: 0 15px;
    }

    .team-logo {
        height: 40px;
    }

    .ft__bottom {
        margin-top: 30px;
    }

    .ft__bottom p {
        text-align: center;
        padding-bottom: 15px;
    }

    .footer_nav {
        text-align: center;
    }

}

@media screen and (max-width: 767px) {

    .navbar {
        min-height: 0;
    }

    .header__top--fixed .navbar-toggle {
        margin-top: -11%;
    }

    .header__top--fixed .navbar{
        margin-top: 5px;
        margin-bottom: 0;
    }

    .navbar-collapse {
        margin-bottom: 0px;
    }

    .navbar-nav > li:last-child {
        padding-right: 15px;
    }

    .nav > li > a.nav__link--contact:hover:hover, .nav > li > a.nav__link--contact:hover:focus{
        border-color: #222;
        color: #222;
    }

    .main-slogan {
        padding-top: 120px;
    }

}

@media screen and (max-width: 600px) {

    .logo__image {
        -webkit-transform: translate(-30px, 0);
        transform: translate(-30px, 0);
    }

    .navbar {
        min-height: 0;
        margin-bottom: 0;
    }

    .navbar-toggle {
        margin-top: -75px;
    }

    .main-slogan__text1 {
        padding: 5px 0px;
        font-size: 20px;
    }

    .main-slogan__text2 {
        font-size: 18px;
    }

    .main-slogan__text3 {
        font-size: 45px;
        line-height: 45px;
    }

    .sct2 {
        padding: 45px 0 30px;
    }

    #back_to_top {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    .navbar-toggle {
        margin-top: -70px;
    }

    .header__top--fixed .navbar-toggle {
        margin-top: -13%;
    }

    .main-slogan__text3 {
        font-size: 34px;
        line-height: 36px;
    }

    .footer_nav li {
        display: block;
        padding: 10px 15px;
    }

    .footer_nav li:last-child {
        margin-bottom: 20px;
        padding-right: 15px;
    }

}

@media screen and (max-width: 320px) {

    .navbar-toggle {
        margin-top: -50px;
    }

    .header__top--fixed .navbar-toggle {
        margin-top: -15%;
    }

    .main-slogan__test3 {
        padding: 5px 0px;
        font-size: 40px;
        line-height: 40px;
    }

}
