/* HEADER */

.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.header__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/header__background.jpg');
    background-size: cover;
    animation: background-animation 17.5s linear 0.5s infinite alternate;
    -webkit-animation: background-animation 17.5s linear    0.5s infinite alternate;
    z-index: -1;
}

@keyframes background-animation {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
}

.header__top {
    width: 100%;
}

.header__left-container, .header__right-container {
    display: inline-block;
    float: left;
}

.header__left-container {
    width: 25%;
}

.header__right-container {
    width: 75%;
}

.logo__image {
    position: relative;
    display: block;
    width: 100%;
}

.header__nav {
    float: right;
}

.nav__list {
    padding-left: 0;
}

.nav__element {
    display: inline;
    padding-right: 15px;
}

.nav__element--last {
    padding-right: 0;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    border-color: #fff;
    background: transparent;
}

.nav__link--contact:hover {
    border-color: #1175d8;
    background: #1175d8;
}

.header__main-slogan, .header__main-description {
    text-align: center;
}

.main-slogan__text {
    font-size: 44px;
    font-weight: 300;
}

.main-description__text {
    width: 90%;
    margin: auto;
    font-size: 22px;
    font-weight: 300;
}

.header__buttons{
    padding-top: 30px;
    text-align: center;
}

.header-button {
    margin: 0 15px;
}

.header__app {
    position: absolute;
    bottom: 0;
    left: calc(50% - 400px);
    animation: app-animation 1.75s cubic-bezier(.24,.78,.31,.84) 1 forwards;
    -webkit-animation: app-animation 1.75s cubic-bezier(.24,.78,.31,.84) 1 forwards;
}

@keyframes app-animation {
    0% {
        opacity: 0;
        transform:translateY(390px);
        -webkit-transform:translateY(390px);
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform:translateY(0);
        -webkit-transform:translateY(0);
    }
}

.app__image {
    width: 800px;
    vertical-align: bottom;
}
