body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #222;
}

a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    opacity: 0.75;
    cursor: pointer;
}

#back_to_top:hover {
    opacity: 1;
}

/* Header */

/* Main - Section - Description */

/* Main - Serction - Functionality */

/* Main - Serction - Contact Form */

.sct3 {
    margin-top: -100px;
    padding-bottom: 30px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

.contact-form legend {
    font-weight: 500;
    padding-bottom: 10px;
}

.contact-form label {
    font-size: 18px;
    font-weight: 300;
}

.contact-form input[type="submit"] {
    text-transform: uppercase;
    background: #F79462;
    color: #fff;
}

.contact-form input[type="submit"]:hover, .contact-form input[type="submit"]:focus, .contact-form input[type="submit"]:active {
    background: #e91e63;
    border-color: #e91e63;
}

/* Footer */
