.sct1 {
    padding-top: 60px;
}

.head--wisely {
    color: #e91e63;
;
}

.sct1__short-dscr--head {
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
}

.sct1__short-dscr--par {
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

.sct1__short-dscr--par span {
    font-weight: 500;
}

.sct1__short-dscr--list {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
}

.short-dscr__el {
    margin: 40px 0px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.sct1__short-dscr--list .glyphicon{
    display: inline;
    padding-right: 15px;
    float: left;
    font-size: 40px;
    line-height: 30px;
    color: #828282;
}

.sct1__short-dscr--list p {
    font-size: 16px;
    font-weight: 400;
}

.screns {
    margin-top: -45px;
}
