* {
    box-sizing: border-box;
    border: 1px solid black;
}

.hdr {
    width: 100%;
    height: 300px;

}

.mn {
    margin: 0 auto;
    width: 1000px;
    height: 1200px;
}

.sct1 {
    height: 30%;
    width: 100%;
}

.sct2 {
    height: 40%;
    width: 100%;

}

.sct3 {
    height: 30%;
    width: 100%;
}

.ft {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

.product_functions {
    width:80%;
    font-family: "Lato";
    position: absolute;
    margin:30px 50px;
}
.product_functions::first-line{
    padding: 10px 10px;
}

.list {
    list-style-type: circle;
    padding: 5px 5px ;
}
